 .u-section-1 {
  background-image: linear-gradient(#f1daad, #d0b49f);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 81px;
  margin: 198px auto 0 286px;
}

.u-section-1 .u-repeater-1 {
  min-height: 284px;
  grid-template-columns: 100%;
  grid-gap: 16px 16px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 -3px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 -3px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 -3px 0 auto;
}

.u-section-1 .u-list-2 {
  width: 290px;
  margin: -281px auto 60px 383px;
}

.u-section-1 .u-repeater-2 {
  min-height: 278px;
  grid-template-columns: 100%;
  grid-gap: 37px 37px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 209px;
    margin-left: 107px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -284px;
    margin-right: 47px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 194px;
    margin-left: 19px;
  }

  .u-section-1 .u-list-2 {
    width: 221px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#d0b49f, #f1daad);
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 50px auto 0 126px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.875rem;
  margin: -66px auto 0 225px;
  padding: 0;
}

.u-section-2 .u-form-1 {
  height: 529px;
  background-image: none;
  margin: 26px 272px 34px 374px;
}

.u-section-2 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-2 .u-label-4 {
  font-size: 1.25rem;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.25rem;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 228px;
  }

  .u-section-2 .u-form-1 {
    height: 525px;
    margin: 63px 142px 60px 228px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-left: 52px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 166px;
  }

  .u-section-2 .u-form-1 {
    width: 395px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 52px;
    margin-left: 32px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 136px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 41px;
    margin-right: 9px;
    margin-left: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-form-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(#f1daad, #d0b49f);
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 50px auto 0 125px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  margin: -66px auto 0 225px;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 36px 373px 0 496px;
}

.u-section-3 .u-form-1 {
  height: 313px;
  margin: 50px 233px 60px 337px;
}

.u-section-3 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-3 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-3 .u-btn-2 {
  padding-left: 50px;
  padding-right: 50px;
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 227px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: 442px;
    margin-left: 227px;
  }

  .u-section-3 .u-form-1 {
    height: 360px;
    margin-right: 143px;
    margin-left: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    margin-left: 52px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 166px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 291px;
    margin-left: 166px;
  }

  .u-section-3 .u-form-1 {
    margin-left: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    margin-top: 52px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 158px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 22px;
    margin-right: -106px;
    margin-left: 158px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 32px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 32px;
    margin-right: 12px;
    margin-left: 40px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: linear-gradient(#d0b49f, #f1daad);
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 50px auto 0 125px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.875rem;
  margin: -66px auto 0 225px;
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 36px 261px 0 auto;
}

.u-section-4 .u-form-1 {
  height: 181px;
  margin: 50px 218px 60px 337px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-label-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-2 {
  padding-left: 50px;
  padding-right: 50px;
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-block-da67-13 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-block-da67-19 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 227px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-4 .u-form-1 {
    height: 185px;
    margin-right: 142px;
    margin-left: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-left: 52px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 166px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 70px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 42px;
    margin-right: 0;
    margin-left: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-1 {
    margin-left: 158px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 22px;
    margin-right: 22px;
    margin-left: 144px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-4 .u-form-1 {
    height: 210px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }
}