<footer class="footer mt-auto container-fluid p-4">
    <div class="container">
        <p class="text-center m-0"> Share your masterpiece without being
            robbed!
            <br>
            Be creative, be proud, be safe,
            <br>
            Be <em>EFAS!</em>
            <br>
            <br> EFAS ART © 2021
        </p>
    </div>
</footer>
