<nav id="navbar" class="shadow-sm navbar fixed-top navbar-expand-lg navbar-dark p-2">
    <div class="container-fluid justify-content-start">
        <img id="logo" src="/img/logo.jpg" alt="logo" width="45" height="45">
        <a href="/" class="navbar-brand mx-2" style="font-family: 'Nunito', sans-serif;">
            EFAS ART
        </a>
    </div>

    <form class="d-flex container">
        <div class="input-group">
            <span class="input-group-text">
                <i class="fas fa-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container-fluid collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <% if (active === 1) { %> active <% } %>" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbar_dashboard" role="button"
                        class="nav-link dropdown-toggle <% if (active === 2) { %> active <% } %>" href="#"
                        data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                    <ul class="dropdown-menu" aria-labelledby="navbar_dashboard">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/profile/artworks">Artworks</a></li>
                        <li><a class="dropdown-item" href="/profile/watermarks">Watermarks</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/profile/settings">Settings</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
