<nav class="navbar navbar-expand-md navbar-light mb-4">
    <ul id="nav" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link <% if (active === 1) { %> active <% } %>" href="/profile">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 2) { %> active <% } %>" href="/profile/artworks">Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 3) { %> active <% } %>" href="/profile/watermarks">Watermarks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 4) { %> active <% } %>" href="/profile/bookmarks">Bookmarks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 5) { %> active <% } %>" href="/profile/settings">Settings</a>
        </li>
    </ul>
</nav>
