<div class="navbar navbar-light pt-0">
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link <% if (active === 1) { %> active <% } %>" href="/profile/settings?s=prof">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 2) { %> active <% } %>" href="/profile/settings?s=sec">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 3) { %> active <% } %>" href="/profile/settings?s=notif">Notifications</a>
        </li>
    </ul>
</div>
