<footer class="u-align-center u-clearfix u-footer u-gradient u-footer" id="sec-c1f9">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> Share your masterpiece without being
            robbed!<br>Be
            creative, be proud, be safe,<br>Be&nbsp;<em>efas!</em>
            <br>
            <br> EFAS ART © 2021
        </p>
    </div>
</footer>
