<div class="u-container-style u-list-item u-repeater-item">
    <div class="u-container-layout u-similar-container u-container-layout-2">
        <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="4148"
            data-image-height="3861" src="<%= img %>">
        <span class="u-icon u-icon-circle u-text-custom-color-4 u-icon-3">
            <%- include('../svg/edit') %>
        </span>
        <h3 class="u-text u-text-5">
            <%= name %>
        </h3>
        <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3">
        </div>
        <p class="u-text u-text-6">
            <%= desc %>
        </p>
        <a href=""
            class="u-border-1 u-border-black u-border-hover-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-3">view</a>
    </div>
</div>
