<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Page not found | EFAS Art</title>
        <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <!------ ERROR 404 ---------->
    </head>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center"><br>
                    <hr>
                    <span class="display-1 d-block">404</span>
                    <div class="mb-3 lead"><%= url %> </div>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <a href="/" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

</html>
