body {
    font-family: sans-serif;
    max-width: 100%;
    position: relative;
}

h1 {
    margin-left: 10px;
    margin-top: 50px;
}

.canvas-box {
    position: absolute;
    display: block;
    /* border: 1px solid black; */
    width: 60%;
    height: 520px;
}

.canvasContainer {
    display: inline-block;
    /* border: 1px solid black; */
    height: 475px;
    width: 840px;
    position: absolute;
    overflow: auto;
    top: 46%; left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(239, 244, 252);
}

#canvas {
    display: block;
    max-height: 100%;
}

#bgColor {
    display: inline-block;
    height: 40%;
    width: 10%;
    position: absolute;
    overflow: auto;
    top: 68%; left: 9%;
    transform: translate(-50%,-50%); 
}

#hexLabel {
    display: inline-block;
    width: 20%;
    position: absolute;
    overflow: auto;
    top: 49%; left: 27%;
    transform: translate(-50%,-50%); 
}

#hexValue {
    display: inline-block;
    width: 20%;
    position: absolute;
    overflow: auto;
    top: 49%; left: 43%;
    transform: translate(-50%,-50%); 
}

.transparentGroup {
    display: inline-block;
    width: 46%;
    position: absolute;
    overflow: auto;
    top: 68%; left: 75%;
    transform: translate(-50%,-50%); 
}

#drawGroupLabel , #addTextLabel, #bgGroupLabel{
    width: 500px;
    position: absolute;
    top: 0%; left: 50%;
    transform: translate(-50%,-50%);
}

#controls-label {
    display: inline-block;
    position: absolute;
    top: 1%; left: 50%;
    transform: translate(-50%,-50%);  
}

#toggleDraw, #exitDraw {
    right:410px;
    top: 150px;
    width: 180px;
    height: 80px;
    position: absolute;
    top: 60%; left: 19%;
    transform: translate(-50%,-50%);
}

#lineWeight {
    display: inline-block;
    right:410px;
    top: 150px;
    width: 180px;
    height: 80px;
    position: absolute;
    top: 60%; left: 63%;
    transform: translate(-50%,-50%);
}

#weightCounter{
    display: inline-block;
    width: 210px;
    text-align: right;
    position: absolute;
    top: 67%; left: 65%;
    transform: translate(-50%,-50%);
}
#weightLabel{
    display: inline-block;
    width: 210px;
    text-align: left;
    position: absolute;
    top: 67%; left: 40%;
    transform: translate(-50%,-50%);
}

.lineWeightSlider{
    display: inline-block;
    /* border: 1px solid black; */
    overflow: hidden;
    position: absolute;
    height: 30px;
    width:60%;
    top: 38%; left: 68%;
    transform: translate(-50%,-50%);
}

#clearCanvas {
    position: absolute;
    right: 240px;
    top: 400px;
    height:40px;
    width: 180px;
}

#toggleDraw {
    border-color: red;
}

#exitDraw {
    border-color: green;
}

.bgGroup {
    display: inline-block;
    background-color: rgb(208, 222, 245);
    border-radius: 10px;
    height: 15%;
    width: 95%;
    position: absolute;
    overflow: auto;
    top: 18%; left: 50%;
    transform: translate(-50%,-50%);
}

.drawGroup {
    display: inline-block;
    background-color: rgb(208, 222, 245);
    border-radius: 10px;
    height: 25%;
    width: 95%;
    position: absolute;
    overflow: auto;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
    
}

.textGroup {
    display: inline-block;
    height: 33%;
    width: 95%;
    position: absolute;
    overflow: hidden;
    top: 71%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(208, 222, 245);
    border-radius: 10px;
}


.controls {
    position: absolute;
    display: block;
    right: 0px;
    /* border: 1px solid black; */
    overflow: auto;
    width: 39%;
    height: 520px;
    background-color: rgb(239, 244, 252);
    border-radius: 10px;
}


#clearCanvas {
    display: inline-block;
    border: 1px solid black;
    height: 8%;
    width: 30%;
    position: absolute;
    overflow: auto;
    top: 94%; left: 50%;
    transform: translate(-50%,-50%);
}

#lineColor {
    display: inline-block;
  
    height: 30%;
    width: 20%;
    position: absolute;
    overflow: auto;
    top: 75%; left: 70%;
    transform: translate(-50%,-50%);
}

#colorLabel {
    display: inline-block;
    height: 30%;
    width: 20%;
    position: absolute;
    overflow: auto;
    top: 85%; left: 51%;
    transform: translate(-50%,-50%);
}

#addText {
    width: 20%;
    height: 70%;
    position: absolute;
    top: 60%; left: 12%;
    transform: translate(-50%,-50%);
}

.fontStyle {
    display: inline-block;
    height: 30%;
    width: 80%;
    position: absolute;
    overflow: auto;
    top: 95%; left: 69%;
    transform: translate(-50%,-50%);
}

#fontSize{
    display: inline-block;
    height: 30%;
    width: 48%;
    position: absolute;
    overflow: auto;
    top: 59%; left: 68%;
    transform: translate(-50%,-50%); 
}

#fontSliderLabel {
    display: inline-block;
    height: 30%;
    width: 40%;
    position: absolute;
    overflow: auto;
    top: 71%; left: 45%;
    transform: translate(-50%,-50%); 
}

#fontSliderCounter {
    display: inline-block;
    height: 30%;
    width: 40%;
    position: absolute;
    overflow: auto;
    top: 71%; left: 113%;
    transform: translate(-50%,-50%); 
}

#textColor {
    display: inline-block;
    height: 20%;
    width: 10%;
    position: absolute;
    overflow: auto;
    top: 34%; left: 92%;
    transform: translate(-50%,-50%); 
}

#fontColorLabel {
    display: inline-block;
    height: 25%;
    width: 15%;
    position: absolute;
    overflow: auto;
    top: 41%; left: 78%;
    transform: translate(-50%,-50%);
}

#fontFamily {
    display: inline-block;
    height: 20%;
    position: absolute;
    overflow: auto;
    top: 33%; left: 55%;
    transform: translate(-50%,-50%);
}

#fontFamilyLabel {
    display: inline-block;
    height: 20%;
    position: absolute;
    overflow: auto;
    top: 38%; left: 33.5%;
    transform: translate(-50%,-50%);
}

#addCollectionBtn {
    display: inline-block;
    height: 8%;
    width: 20%;
    position: absolute;
    overflow: auto;
    top: 97%; left: 50%;
    transform: translate(-50%,-50%);
}

button {
    border-radius: 10px;
    border: solid;
    border-width: 1px;
}
