<style>
    .col-card {
        border: none;
        font-size: initial;
        background-position: center;
        background-size: cover;
    }

</style>

<div class="col-card dash-col-card card w-100 h-100"
    style="background-image: url(https://drive.google.com/uc?export=view&id=<%= col_src %>);">
    <img class="card-img align-self-center" src="" alt="">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <h4 class="card-title text-truncate"><%= col_title %></h4>
    </div>
    <a href="/profile/<% if (type === 'art') { %>artworks<% } else { %>watermarks<% } %>/collection/<%= col_id %>"
        class="stretched-link"></a>
</div>
