<div class="art-card dash-art-card card w-100 h-100" style="border: none;" onclick="geturl(this)">
    <div class="art-img-cont">
        <img id="wat-card-img" class="art-img h-100" src="https://drive.google.com/uc?export=view&id=<%= wtm_src %>" alt="">
    </div>
    <div class="card-body py-1 ps-2">
        <small class="card-title text-truncate" style="margin-bottom: 0;"><%= wtm_title %></small>
    </div>
    <a href="/profile/watermarks/edit?wtm_id=<%= wtm_id %>" class="stretched-link"></a>
</div>
