<div class="col-card card w-100 h-100" style="border: none; font-size: initial;">
    <img class="card-img" src="https://drive.google.com/uc?export=view&id=<%= col_pic %>" alt="">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <h3 class="card-title text-truncate"><%= col_title %></h3>
        <p class="card-text"><%= col_desc %></p>
    </div>
    <a href="/collection/<%= col_id %>" class="stretched-link"></a>
</div>
